
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="my-auto text-md-center">
            <div class="row">
                <div class="col-6">
                    <div class="border-right">
                        <a asp-action="SeePermissions" asp-controller="Home" class="btn btn-dark">See Permissions</a>
                    </div>
                </div>
                <div class="col-6">
                        <a asp-action="ApplyPermissions" asp-controller="Home" class="btn btn-dark">Apply Permission</a>
                </div>
            </div>
            This is a demo exercise 
        </div>
    </div>
</div>
